@font-face {
    font-family: "Montserrat";
    src: url("fonts/montserrat.ttf");
}

body{ 
    padding: 0;
    margin: 0;
    background: #f4f4f4;
}

h1, h2, h3, h4, p, input, a, li{
    font-family: "Montserrat" !important;
}

p {
    text-align: left;
    font-size: 13px;
}

li {
    font-size: 13px;
    padding: 14px;
    border-bottom: 1px solid #cccccc;
}

section {
    border-radius: 8px;
    width: 40%;
    margin: 100px auto;
    border: 2px solid #f4f4f4;
}

#header{
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
}

#body{
    padding: 20px;
    margin-top: 10px;
    background: #ffffff;
    border-radius: 10px;
}

.title{

}

form{ 
    display: flex;
    flex-direction: column;
}

input{
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #188152;
}